.content
  position: absolute;
  top: 50px;
  left: 0;
  padding: 30px;
  ol
    padding: 0;
  li
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    position: relative;
    list-style-type: none;
    border-radius: 4px;
    p
      padding-left: 40px;
    input
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      margin-top: 10px;
  .list-complete
    text-decoration: line-through;
    background-color: alpha(#CCC, .4);
  .content-add
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    border-radius: 5px;
    border:1px solid #CCC;
    padding-left: 5px;