.login-view
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 50px;
  width: 100%;
  .login-content
    width: 80%;
    padding-top: 50px;
    margin-left: 10%;
  .login-item
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    input
      width: 100%;
      padding-left: 8px;
      padding-right: 8px;
      height: 30px;
      border: 1px solid #757575;
      border-radius: 5px;
    button
      width: 100px;
      height: 40px;
      color: #fff;
      font-size: 16px;
      border: none;
      background-color: #2196f3;
      border-radius: 3px;